<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nssol.dao.master.TPackDetailDao">
	
	 <select id="getPacKDetailIsExist" parameterType="java.util.List"
     resultType="com.nssol.model.T_Pack_Detail">      
		SELECT
			  A.InnerPackNum
		FROM 
			T_Pack_Detail A
			WHERE 
			 A.IsDel = 0
			 AND
		 <foreach item="params" index="index" collection="list" open="(" separator="or" close=")">
           A.RFID = #{params.rFID}
        </foreach>
     </select>
	
	
    
   
</mapper>