<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nssol.dao.master.PlanningDetailDao">	

<select id="getPlanDetailBySetCode"  parameterType="com.nssol.model.T_Planning_Detail" resultType="com.nssol.model.T_Planning_Detail">
		SELECT
			 orderNo
			,dONo
			,setCode
			,colorCode
			,colorCode+'-'+color color
			,patternDimensionCode
			,sizeCode
			,sizeCode +'-'+size size
			,sKUCode
			,qtyPerSet
		FROM 
			T_PLANNING_DETAIL
		WHERE
		    IsDel = 0 
		  AND
		   planningNum=#{planningNum}
	</select> 
</mapper>